﻿@using PagedList.Mvc
@model FizzBuzzApp.Models.FizzBuzz.FizzBuzzModel
<div>
    <ul>
        @foreach (var item in Model.FizzBuzzList)
        {
            var values = item.Split(' ');
            <li>
                @foreach (var value in values)
                {
                    <span class="@value">@value</span>
                }
            </li>
        }
    </ul>
</div>
<div class="pagination">
    @{
        var options = PagedListRenderOptions.Minimal;
        options.LinkToPreviousPageFormat = "Previous";
        options.LinkToNextPageFormat = "Next";
        @Html.PagedListPager(Model.FizzBuzzList, page => Url.Action("NavigateToPage", new { value = @Model.UserValue, page }), options);
    }
</div>