﻿@model FizzBuzzApp.Models.FizzBuzz.FizzBuzzModel

@{
    ViewBag.Title = "FizzBuzzApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>FizzBuzzApp</h2>
@using (Html.BeginForm("Home", "FizzBuzz", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.LabelFor(x => x.UserValue)
    @Html.TextBoxFor(x => x.UserValue)
    @Html.ValidationMessageFor(x => x.UserValue, "",new { @class = "validationError" })
    <p>
        <button type="submit">Submit</button>
    </p>
    <div>
    @if (Model != null && Model.FizzBuzzList != null)
    {
        @Html.Partial("_FizzBuzzList")
    }
    </div>
}